/*Reset*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-image: url(./../img/lady.jpg);
  background-position: center;
}

.header__top {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__top:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.header__menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  height: 60px;
}

.header__menu-items {
  display: flex;
}

.header__menu-item + .header__menu-item {
  margin-left: 20px;
}

.header__menu-link {
  color: #363636;
  font-weight: 800;
}

.header__menu-link:hover {
  color: #0078aa;
}

svg {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

svg path {
  fill: inherit;
}

.header__content {
  margin-top: 60px;
  padding: 200px 0;
}

.header__title {
  font-weight: 800;
  font-size: 34px;
  width: 50%;
  margin-bottom: 25px;
}

.header__text {
  width: 50%;
  margin-bottom: 25px;
  color: #808080;
}

.header__btn-wrapper {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  text-align: center;
}

.header__btn {
  display: block;
  border-radius: 100%;
  background-color: #0078aa;
  width: 100%;
  height: 100%;
  fill: #fff;
  border: 2px solid #0078aa;
}

.header__btn:hover {
  background-color: #fff;
  border: 2px solid #0078aa;
  fill: #0078aa;
}

.header__btns-wrapper {
  display: flex;
}

.about__wrapper {
  display: flex;
  padding: 50px 0;
  align-items: center;
}

.about__title {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 10px;
}

.about__text {
  color: #0078aa;
  margin-bottom: 20px;
}

.about__item-name {
  font-weight: 800;
  margin-bottom: 10px;
}

.about__item-name-arrow {
  color: #0078aa;
  margin-right: 5px;
}

.about__item-text {
  margin-bottom: 20px;
}

.about__description {
  width: 400px;
  margin-left: 50px;
  margin-right: 10px;
  width: 50%;
}

.about__img {
  height: auto;
  width: 50%;
}

.services {
  background-image: url("./../img/services_bg.jpg");
}

.services__wrapper {
  padding: 40px 0;
}

.services__title {
  font-size: 28px;
  font-weight: 800;
  text-align: center;
}

.services__text {
  text-align: center;
  margin-top: 10px;
}

.services__items {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 42px;
}

.services__item {
  background-color: #fff;
  padding: 20px;
}

.services__item-title {
  font-weight: 800;
  margin-top: 10px;
}

.services__item-text {
  margin-top: 10px;
}

.pricing {
  background-image: url("./../img/pricing_bg.jpg");
  background-position: center;
  background-size: cover;
}

.pricing__title {
  font-size: 28px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 5px;
}

.pricing__text {
  text-align: center;
  margin-bottom: 50px;
}

.pricing__items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing__item:nth-child(2n + 1) {
  background-color: #6cc7e1;
  color: #fff;
  text-align: center;
  padding: 30px 0;
  width: 33%;
  height: 470px;
}

.pricing__item-title {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 20px;
}

.pricing__item-price {
  font-weight: 800;
  font-size: 50px;
  margin-bottom: 15px;
}

.pricing__item-text {
  font-style: italic;
  margin-bottom: 30px;
}

.pricing__list-item {
  margin-bottom: 20px;
}

.pricing__list-item:last-child {
  margin-bottom: 40px;
}

.pricing__item:nth-child(2n) {
  background-color: #fff;
  color: #0078aa;
  border: 1px solid #0078aa;
  text-align: center;
  height: 510px;
  padding: 50px 0;
  width: 33%;
}

.pricing__btn {
  color: #0078aa;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #0078aa;
  padding: 10px 15px;
  font-weight: 800;
  margin-top: 40px;
}

.pricing__wrapper {
  padding: 90px 0;
}

.contact__wrapper {
  display: flex;
}

.contact__title {
  font-weight: 800;
  font-size: 28px;
  margin-bottom: 10px;
}

.contact__input {
  border-bottom: 1px solid #ededed;
  width: 100%;
  padding: 10px;
  font-style: italic;
  margin-bottom: 15px;
}

.contact__img {
  background-image: url("./../img/contact_image.jpg");
  width: 50%;
  background-position: left;
}

.contact__form {
  width: 50%;
  padding: 70px 30px;
}

.contact__text {
  margin-bottom: 20px;
}

.contact__btn {
  color: #fff;
  background-color: #0078aa;
  border-radius: 10px;
  font-weight: 800;
  padding: 15px 20px;
  border: 1px solid #0078aa;
}

.contact__btn:hover {
  color: #0078aa;
  background-color: #fff;
  border: 1px solid #0078aa;
}

.footer {
  background-color: #363636;
  padding: 20px 0;
}

.footer__text {
  color: #fff;
  text-align: center;
}

.to-top {
  position: fixed;
  bottom: 28px;
  right: 28px;
  z-index: 100;
  cursor: pointer;
  background-color: #0078aa;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  font-weight: 800;
  font-size: 42px;
  border: 1px solid #0078aa;
}

.to-top:hover {
  color: #0078aa;
  background-color: #fff;
  border: 1px solid #0078aa;
}

@media (max-width: 1280px) {
  .container {
    max-width: 748px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 380px;
  }

  .header__btns-wrapper {
    justify-content: center;
  }

  .header__title,
  .header__text {
    text-align: center;
    width: 100%;
  }

  .header__content {
    padding-bottom: 10px;
  }

  .header__menu-wrapper {
    flex-direction: column;
    padding: 10px 0;
    height: 80px;
  }

  .services__items {
    grid-template-columns: 1fr;
    grid-gap: 42px;
  }

  .contact__wrapper {
    flex-direction: column;
  }

  .about__wrapper,
  .pricing__items {
    flex-direction: column;
  }

  .about__img,
  .about__description {
    width: 100%;
  }

  .about__title,
  .about__text,
  .contact__title,
  .contact__text {
    text-align: center;
  }

  .pricing__item:nth-child(2n + 1) {
    width: 100%;
  }

  .pricing__item:nth-child(2n) {
    width: 100%;
    padding: 30px 0 0;
    height: 470px;
  }

  .pricing__item + .pricing__item {
    margin-top: 20px;
  }

  .pricing__wrapper {
    padding: 30px 0;
  }

  .contact__img {
    width: 100%;
    background-size: cover;
    height: 300px;
  }

  .contact__form {
    width: 100%;
    padding: 20px 30px;
  }

  .contact__list-item:last-child {
    text-align: center;
  }

  .about__description {
    margin: 0;
    padding: 0 20px;
  }
}
