#app-root {
	text-align: center;
}

.field-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.type-of-search__radio-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

p {
	margin: 0;
}

.type-of-search__text {
	margin-right: 10px;
}

.field-wrapper {
	margin: 10px 0;
}

.title {
	margin: 0;
}

table {
	margin: 20px auto;
	width: 1100px;
	border-collapse: collapse;
	border: 1px solid #e9e9e9;
}

th {
	background-color: #5e9e58;
	padding: 20px;
	border: 1px solid #e9e9e9;
}
td {
	padding: 20px;
	border: 1px solid #e9e9e9;
}

tr:nth-child(2n) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #dddddd;
}

button {
	border: none;
	outline: none;
	background-color: #5e9e58;
	font-weight: bold;
}

span {
	color: #dede50;
	line-height: 10px;
}
