@media print {
	.tm-sidebar,
	#about,
	section:not(:first-of-type),
	section > div:first-child:after {
		display: none;
	}

	.flex-item:last-of-type {
		justify-content: flex-end;
		align-items: center;
	}

	.flex-item:last-child {
		width: 65%;
	}

	.flex-item > img {
		width: 90%;
	}

	.container {
		width: 600px;
	}

	.tm-content-box {
		margin-bottom: 0;
	}

	.tm-banner {
		padding: 0;
	}

	h2.tm-section-title {
		color: #0029f5;
	}
}

.flex-item {
	display: flex;
}

.flex-2-col {
	display: flex;
}

.tm-team-description-container {
	flex-direction: column;
	justify-content: center;
}

.tm-section-description::first-letter,
.tm-banner-text:first-letter,
.tm-footer > p:first-letter {
	color: #87cefa;
	font-size: 30px;
}

.tm-section-description {
	text-indent: 2em;
	line-height: 2em;
}

h2.tm-section-title + p.tm-section-description {
	font-style: italic;
}

#about .gallery-container > .box:hover {
	background-color: #87cefa;
}

.gallery-container > .box:hover > .tm-section-title {
	color: #fff;
	font-weight: 800;
}

.tm-sidebar,
section,
#home {
	box-shadow: 0 0 10px #8a8a8a;
}

.tm-banner {
	box-shadow: inset 0 0 0 30px #f0eeee;
}

section > div:first-child {
	position: relative;
}

section > div:first-child:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	border: 40px solid transparent;
	border-left: 250px solid #95cef6;
	border-top: 0px solid #95cef6;
}

.carousel-content h2.tm-section-title {
	color: gainsboro;
	letter-spacing: 5px;
}

.carousel-content .flex-item {
	flex-direction: column;
}

.heading a {
	color: #000;
}

.heading a:visited {
	text-decoration: underline;
}

.heading a:hover {
	text-decoration: underline;
	border-bottom: 1px solid #87cefa;
	color: #87cefa;
}

.text::after {
	content: "New";
	font-size: 10px;
	color: red;
	vertical-align: super;
}

.box-work {
	padding: 10px;
}

.box-work:nth-of-type(2n) {
	background-color: #f2f2f2;
}

.gallery-container p {
	font-style: italic;
	color: #8a8a8a;
}

.gallery-container p::first-letter {
	font-size: 30px;
}

.submit-btn {
	float: right;
	border-radius: 0;
	width: 160px;
	height: 50px;
	background-color: white;
	color: #87cefa;
	border: 1px solid #87cefa;
	font-weight: 200;
}

.submit-btn:hover {
	background-color: #87cefa;
	color: #fff;
	border: 1px solid #87cefa;
}

.mandatory-field::after {
	content: "*";
	color: #ff0000;
}

.tm-nav-item:hover {
	background-color: #f5f5f5;
}
