@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header .header-wrap .header_heading::after,
.section .section_text::after,
.section .section_banner::after {
  display: block;
  position: relative;
  background-color: #ed5b41;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #21232d;
}

.header {
  color: #fff;
  background-image: url(./../img/m-h-night.jpg);
  background-size: 100% auto;
  height: 550px;
  border-bottom-right-radius: 700px 200px;
  background-position: center;
}
.header .header-wrap {
  width: 580px;
  height: 100%;
  margin: 0 100px;
  padding: 15px;
}
.header .header-wrap .landing-logo {
  font-family: "Fresca", sans-serif;
  display: flex;
  align-items: flex-start;
}
.header .header-wrap .landing-logo img {
  color: #fff;
}
.header .header-wrap .landing-logo p {
  margin-left: 10px;
  font-size: 20px;
  line-height: 1.3;
  color: #fff;
}
.header .header-wrap .landing-logo p span {
  font-size: 10px;
  display: block;
  text-align: center;
}
.header .header-wrap .header_heading {
  font-size: 60px;
  font-weight: 800;
  margin-top: 40px;
}
.header .header-wrap .header_heading::after {
  content: "awesome";
  width: 250px;
  height: 40px;
  top: -40px;
  line-height: 20px;
}
.header .header-wrap .header_text {
  white-space: pre-line;
  line-height: 1.5em;
  font-family: "Fresca", sans-serif;
}
.header .header-wrap div:last-child {
  margin-top: 50px;
}
.header .header-wrap div:last-child .header_button {
  background-color: #dbad3a;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  width: 140px;
  height: 50px;
  border-radius: 5px;
  margin-right: 110px;
}
.header .header-wrap div:last-child .login {
  color: #fff;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 800;
  width: 140px;
  height: 50px;
}

.section {
  width: 1000px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}
.section .section_text {
  font-size: 30px;
  margin-top: 30px;
}
.section .section_text::after {
  content: "adventure";
  width: 130px;
  height: 33px;
  top: -34px;
  left: 508px;
  line-height: 38px;
}
.section .section_card_wrap {
  width: 900px;
  margin: 0 auto;
}
.section .section_card_wrap .section_card {
  display: flex;
  align-items: center;
  background-color: #3b3f4f;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 20px;
}
.section .section_card_wrap .section_card .section_card_img {
  border-radius: 5px;
  margin-right: 80px;
  width: 400px;
  height: auto;
}
.section .section_card_wrap .section_card .section_card_right_container {
  width: 460px;
  margin-right: 80px;
}
.section .section_card_wrap .section_card .section_card_right_container .section_card_heading {
  font-size: 20px;
  margin-bottom: 30px;
  color: #fff;
}
.section .section_card_wrap .section_card .section_card_right_container .section_card_text {
  text-align: left;
  margin-bottom: 30px;
  color: #ccced0;
  font-family: "Fresca", sans-serif;
}
.section .section_card_wrap .section_card .section_card_right_container .section_link {
  color: #ccced0;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 800;
  width: 140px;
  height: 50px;
  font-weight: 400;
}
.section .section_banner {
  position: relative;
  bottom: -55px;
  display: flex;
  justify-content: space-between;
  width: 1000px;
  text-align: center;
  background: linear-gradient(90deg, #dbad3a, #893553);
  border-radius: 5px;
  padding: 30px 150px 40px;
}
.section .section_banner::after {
  content: "start";
  font-size: 24px;
  font-weight: 800;
  width: 55px;
  height: 45px;
  top: -20px;
  left: -550px;
  line-height: 63px;
}
.section .section_banner .section_banner_text_wrap .section_banner_heading {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 15px;
}
.section .section_banner .section_banner_text_wrap .section_banner_text {
  text-align: left;
  color: #ccced0;
  font-family: "Fresca", sans-serif;
}
.section .section_banner .section_banner_button {
  background-color: #dbad3a;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  width: 140px;
  height: 50px;
  border-radius: 5px;
  position: relative;
  left: 170px;
}

.footer {
  background-color: #3b3f4f;
  color: #fff;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.footer .footer-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  color: #fff;
}
.footer .footer-wrap .footer_logo {
  font-family: "Fresca", sans-serif;
  display: flex;
  align-items: flex-start;
}
.footer .footer-wrap .footer_logo img {
  color: #fff;
}
.footer .footer-wrap .footer_logo p {
  margin-left: 10px;
  font-size: 20px;
  line-height: 1.3;
  color: #ccced0;
}
.footer .footer-wrap .footer_logo p span {
  font-size: 10px;
  display: block;
  text-align: center;
}
.footer .footer-wrap .footer_text {
  width: 275px;
  color: #ccced0;
  font-family: "Fresca", sans-serif;
}
.footer .footer-wrap .footer-cr {
  color: #ccced0;
  font-family: "Fresca", sans-serif;
}
