/*Reset*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------*/

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: url(http://fonts.gstatic.com/s/opensans/v26/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVQUwaEQbjA.woff)
		format("woff");
}

body {
	font-family: "Open Sans";
}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 10px;
}

.header {
	background-image: url(./../img/apples.jpg);
	background-position: center;
	padding: 30px 0;
}

.menu-wrapper {
	display: flex;
	justify-content: space-between;
}

.header__menu-logo {
	color: #fff;
	letter-spacing: 2px;
}

.menu__list {
	display: flex;
}

.header__menu-item + .header__menu-item {
	margin-left: 40px;
}

.header__menu-link {
	color: #fff;
}

.header__title {
	font-size: 40px;
	letter-spacing: 5px;
	color: #fff;
	margin-top: 230px;
}

.header__title-and {
	font-size: 80px;
}

.header__text {
	color: #fff;
	margin-top: 20px;
	margin-bottom: 200px;
}

.header__wrapper {
	text-align: center;
	margin-bottom: 110px;
}

.header__more-link {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	border: 2px solid #fff;
	padding: 10px 70px;
}

.about__wrapper {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
}

.about__main-text,
.about__additional-text {
	padding: 100px 0;
}

.about__main-text {
	padding-right: 100px;
	font-size: 18px;
	width: 40%;
}

.about__additional-text {
	width: 60%;
}

.text--font-weight--bold {
	font-weight: 800;
}

.vacancies {
	background-color: #f3f3f3;
	padding-top: 100px;
	padding-bottom: 30px;
}

.vacancies__heading {
	font-size: 20px;
	text-align: center;
	margin-bottom: 50px;
}

.vacancies__item {
	display: flex;
	padding: 10px;
	height: 250px;
}

.vacancies__image {
	padding: 10px;
	width: 65%;
	background-size: cover;
	background-repeat: no-repeat;
}

.vacancies__image-text {
	color: #fff;
	position: relative;
	top: 195px;
}

.vacancies__image-btn {
	position: relative;
	left: 470px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	border: 2px solid #fff;
	padding: 5px 10px;
}

.vacancies__text {
	padding: 20px;
	width: 35%;
	align-self: center;
	text-align: center;
}

.vacancies__image:nth-child(2n + 1) {
	background-image: url(./../img/sample.jpg);
	/* background-position: left; */
	box-shadow: 0px 5px 76px 2px rgba(34, 60, 80, 0.6) inset;
}

.vacancies__image:nth-child(2n) {
	background-image: url(./../img/sample1.jpg);
	/* background-position: bottom; */
	box-shadow: 0px 5px 76px 2px rgba(34, 60, 80, 0.6) inset;
}

.vacancies__subscribe-wrapper {
	background-color: #fff;
	padding: 40px 25px;
}

.vacansies__subscribe-text {
	font-size: 20px;
}

.vacancies__subscribe-email {
	width: 450px;
	height: 48px;
	margin-left: 20px;
	padding: 20px;
}

.subscribe__email {
	border: 1px solid #343638;
	background-color: #f3f3f3;
}

.vacancies__subscribe-btn {
	padding: 15px;
}

.subscribe__btn {
	background-color: #343638;
	color: #fff;
}

.footer__items {
	display: flex;
	justify-content: space-between;
	padding: 100px 0;
	border-bottom: 2px solid #f3f3f3;
}

.footer__item-title {
	font-weight: 800;
	margin-bottom: 20px;
}

.footer__item-text {
	color: #9e9e9e;
}

.footer__item-time {
	color: #e8e8e8;
	line-height: 24px;
}

.footer__item:nth-of-type(2) {
	margin: 0 20px;
}

.footer__item:last-of-type {
	margin-left: 100px;
}

.footer__item {
	width: 20%;
}
.footer__item:last-of-type {
	width: 40%;
}

.footer__subscribe-email {
	width: 200px;
	padding: 5px;
}

.footer__subscribe-btn {
	padding: 6px;
}

.footer__subscribe {
	margin-top: 10px;
}

.footer__item-link {
	color: #9e9e9e;
}

.footer__bottom {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
}

.footer__menu-item + .footer__menu-item {
	margin-left: 20px;
}

.footer__menu-link {
	color: #343638;
}

.footer__bottom-text {
	color: #9e9e9e;
}
