.body {
	background-color: #17181a;
	padding: 0;
}

.container {
	margin: 0 auto;
}

.calculator__wrapper {
	background-color: #17181a;
	color: #fff;
	width: 810px;
	margin: 0 auto;
	padding: 20px 30px;
}

.calculator__btn {
	display: block;
	text-align: center;
	line-height: 70px;
	border-radius: 15px;
}

.calculator__btn-wrapper {
	display: grid;
	grid-template-columns: 70px 70px 70px 70px;
	grid-auto-rows: 70px;
	grid-gap: 10px;
	/* margin: 0 45px; */
}

.calculator__btn-zero {
	grid-column: 1/3;
}

.calculator__btn-num {
	background-color: #222427;
}

.calculator__btn-bkt-reset {
	background-color: #2a1a1e;
	color: #8e383a;
}

.calculator__btn-operator {
	background-color: #f29937;
}

.calculator__btn-equals {
	background-color: #63c57b;
}

.calculator__output {
	max-width: 810px;
	height: 50px;
	max-height: 50px;
	border-radius: 25px;
	margin: 0;
	text-align: end;
	font-size: 40px;
	line-height: 50px;
}

.calculator__output-wrapper {
	background-color: #222427;
	margin-bottom: 20px;
	padding: 10px 40px;
	border-radius: 25px;
}

.calculator__bottom-wrapper {
	display: flex;
	justify-content: space-between;
}

.calculator__history {
	background-color: #222427;
	width: 420px;
	border-radius: 25px;
	padding: 20px;
}

.calculator__history-title {
	text-align: center;
}

.calculator__history-title {
	font-size: 24px;
	margin: 20px 0;
}

.history__item {
	display: flex;
	justify-content: space-between;
}

.button-check {
	border: 2px solid #8e383a;
	outline: none;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	align-self: center;
	background-color: #222427;
}

.button-check:hover,
.button-check--red {
	background-color: #8e383a;
}

.button-cancel {
	border: none;
	outline: none;
	background: none;
	font-size: 30px;
}

.button-cancel:hover {
	color: #8e383a;
}

.calculator__history-wrapper {
	overflow-y: auto;
	height: 282px;
	padding: 0 20px;
}

.historyText--underline {
	text-decoration: underline;
}
