/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*--------------------*/
@mixin font($font) {
	font-family: $font, sans-serif;
}

@mixin btn($color, $background-color) {
	background-color: $background-color;
	color: $color;
	font-size: 16px;
	font-weight: 800;
	width: 140px;
	height: 50px;
	border-radius: 5px;
}

@mixin link($color) {
	color: $color;
	text-decoration: underline;
	font-size: 16px;
	font-weight: 800;
	width: 140px;
	height: 50px;
}

@mixin logo($font, $logo-color, $color) {
	@include font($font);
	display: flex;
	align-items: flex-start;
	img {
		color: $logo-color;
	}
	p {
		margin-left: 10px;
		font-size: 20px;
		line-height: 1.3;
		color: $color;
		span {
			font-size: 10px;
			display: block;
			text-align: center;
		}
	}
}

%excret {
	display: block;
	position: relative;
	background-color: $excretion;
}

$font-weights: (
	"regular": 400,
	"bold": 800,
);

body {
	@include font($font-main);
	background-color: $background;
}

.header {
	color: $heading-color;
	background-image: $header-background-img;
	background-size: 100% auto;
	height: 550px;
	border-bottom-right-radius: 700px 200px;
	background-position: center;
	.header-wrap {
		width: 580px;
		height: 100%;
		margin: 0 100px;
		padding: 15px;
		.landing-logo {
			@include logo($font-additional, $logo-color, $logo-text-color);
		}
		.header_heading {
			font-size: 60px;
			font-weight: map-get($font-weights, "bold");
			margin-top: 40px;
			&::after {
				@extend %excret;
				content: "awesome";
				width: 250px;
				height: 40px;
				top: -40px;
				line-height: 20px;
			}
		}
		.header_text {
			white-space: pre-line;
			line-height: 1.5em;
			@include font($font-additional);
		}
		div:last-child {
			margin-top: 50px;
			.header_button {
				@include btn($white-color, $btn-color);
				margin-right: 110px;
			}
			.login {
				@include link($white-color);
			}
		}
	}
}

.section {
	width: 1000px;
	margin: 0 auto;
	color: $heading-color;
	text-align: center;
	.section_text {
		font-size: 30px;
		margin-top: 30px;
		&::after {
			@extend %excret;
			content: "adventure";
			width: 130px;
			height: 33px;
			top: -34px;
			left: 508px;
			line-height: 38px;
		}
	}
	.section_card_wrap {
		width: 900px;
		margin: 0 auto;
		.section_card {
			display: flex;
			align-items: center;
			background-color: $main-color;
			padding: 15px;
			border-radius: 5px;
			color: $heading-color;
			margin-bottom: 20px;
			.section_card_img {
				border-radius: 5px;
				margin-right: 80px;
				width: 400px;
				height: auto;
			}
			.section_card_right_container {
				width: 460px;
				margin-right: 80px;
				.section_card_heading {
					font-size: 20px;
					margin-bottom: 30px;
					color: $white-color;
				}
				.section_card_text {
					text-align: left;
					margin-bottom: 30px;
					color: $section-text-color;
					@include font($font-additional);
				}
				.section_link {
					@include link($section-text-color);
					font-weight: map-get($font-weights, "regular");
				}
			}
		}
	}
	.section_banner {
		position: relative;
		bottom: -55px;
		display: flex;
		justify-content: space-between;
		width: 1000px;
		text-align: center;
		background: $gradient;
		border-radius: 5px;
		padding: 30px 150px 40px;
		&::after {
			@extend %excret;
			content: "start";
			font-size: 24px;
			font-weight: map-get($font-weights, "bold");
			width: 55px;
			height: 45px;
			top: -20px;
			left: -550px;
			line-height: 63px;
		}
		.section_banner_text_wrap {
			.section_banner_heading {
				font-size: 24px;
				font-weight: map-get($font-weights, "bold");
				margin-bottom: 15px;
			}
			.section_banner_text {
				text-align: left;
				color: $section-text-color;
				@include font($font-additional);
			}
		}
		.section_banner_button {
			@include btn($white-color, $btn-color);
			position: relative;
			left: 170px;
		}
	}
}

.footer {
	background-color: $main-color;
	color: $heading-color;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	.footer-wrap {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 50px;
		color: $heading-color;
		.footer_logo {
			@include logo($font-additional, $logo-color, $section-text-color);
		}
		.footer_text {
			width: 275px;
			color: $section-text-color;
			@include font($font-additional);
		}
		.footer-cr {
			color: $section-text-color;
			@include font($font-additional);
		}
	}
}
