$header-background-img: url(./../img/m-h-night.jpg);
$logo-color: #fff;
$logo-text-color: #fff;
$header-color: #2c2f3b;
$green: #74972c;
$main-color: #3b3f4f;
$heading-color: #fff;
$white-color: #fff;
$btn-color: #dbad3a;
$section-text-color: #ccced0;
$font-main: "Source Sans Pro";
$font-additional: "Fresca";
$excretion: #ed5b41;
$gradient: linear-gradient(90deg, #dbad3a, #893553);
$background: #21232d;
