$header-background-img: url(./../img/m-h-day.jpg);
$logo-color: #fff;
$logo-text-color: #21232d;
$header-color: #2c2f3b;
$green: #74972c;
$main-color: #21232d;
$white-color: #fff;
$heading-color: #21232d;
$btn-color: #6b8e23;
$section-text-color: #c1c4ce;
$font-main: "Source Sans Pro";
$font-additional: "Hind";
$excretion: #479ec3;
$gradient: linear-gradient(90deg, #5da130, #325dd3);
$background: #fff;
