.messages-wrapper {
	height: 80vh;
	overflow-y: auto;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	padding: 20px;
}

.current-user {
	justify-content: flex-end;
}

.message-wrapper {
	display: flex;
	margin-top: 10px;
}

.message-container {
	width: auto;
	max-width: 40%;
	min-width: 150px;
	background-color: #5d8fc2;
	border-radius: 20px;
	padding: 15px;
}

.message-name,
.message-text,
.message-time {
	margin: 0;
	color: #fff;
}

.message-name {
	margin-bottom: 5px;
	font-weight: 800;
}

.message-text {
	font-size: 18px;
	margin-bottom: 15px;
	text-align: end;
}

.message-time {
	text-align: end;
	font-size: 14px;
}

.form-wrapper {
	padding: 30px;
}

.message-field {
	height: 30px;
	width: 85%;
	border: 2px solid #5d8fc2;
	border-radius: 20px;
	padding: 3px 20px;
	font-size: 20px;
}

.message-btn {
	width: 10%;
	border: 2px solid #5d8fc2;
	border-radius: 20px;
	text-align: center;
	font-weight: 800;
	background-color: #5d8fc2;
	color: #fff;
}

.form {
	display: flex;
	justify-content: space-around;
}
